<div class="card-medium">

    <div class="card-medium-outer-img">
        <object data="https://fdnd-agency.directus.app/assets/{{ story.cover }}" type="image/jpg">
            <img src="/assets/image-icon.svg" alt="fallback">
        </object>
    </div>
    
    <div class="card-medium-content">
        <h2>{{ story.title }}</h2>

        <h3>{{ story.intro }}</h3>

        {% comment %} <p>{{ story.district }}</p> {% endcomment %}

        <div class="card-medium-meta">
            <div class="card-medium-date">
                <img src="/assets/calendar-icon.svg">
                <p class="card-date">{{ story.date | date: "%d-%m-%Y"}}</p>
                <p class="label-district-medium">{{ story.district }}</p>
            </div>
            <a href="/details/{{ story.id }}" class="card-medium-button read-more-button">
                    Lees meer 
            </a>
        </div>
    </div>
</div>