<div class="card-small">

    <div class="card-small-outer-img">
    {% if story.cover %}
        <picture>
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ story.cover }}">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ story.cover }}">
            <img src="https://fdnd-agency.directus.app/assets/{{ story.cover }}" alt="{{ story.title }}" height="130" width="130">
        </picture>
    {% else %}
        <img src="/assets/image-icon.svg" class="image-icon" alt="Geen afbeelding">
    {% endif %}
    </div>
    
    <div class="card-small-content">
        <h2>{{ story.title }}</h2>

        <div class="card-small-meta">
            <div class="meta-left-small">
                <img src="/assets/calendar-icon.svg">
                <p class="card-date-small">{{ story.date | date: "%d-%m-%Y"}}</p>
                <p class="label-district-small">{{ story.district }}</p>
            </div>
            
            <a href="/details/{{ story.id }}" class="card-small-button read-more-button">
                Lees meer 
            </a>
        </div>
    </div>
</div>