<div class="card-medium">

    
    <div class="card-medium-outer-img">
    {% if story.cover %}
        <picture>
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ story.cover }}">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ story.cover }}">
            <img src="https://fdnd-agency.directus.app/assets/{{ story.cover }}" alt="{{ story.title }}" height="130" width="130">
        </picture>
    {% else %}
        <img src="/assets/image-icon.svg" class="image-icon" alt="Geen afbeelding">
    {% endif %}
    </div>
    
    <div class="card-medium-content">
        <h2>{{ story.title }}</h2>

        <h3>{{ story.intro }}</h3>

        {% comment %} <p>{{ story.district }}</p> {% endcomment %}

        <div class="card-medium-meta">
            <div class="card-medium-date">
                <img src="/assets/calendar-icon.svg">
                <p class="card-date">{{ story.date | date: "%d-%m-%Y"}}</p>
                <p class="label-district-medium">{{ story.district }}</p>
            </div>
            <a href="/details/{{ story.id }}" class="card-medium-button read-more-button">
                    Lees meer 
            </a>
        </div>
    </div>
</div>